.modal-image-editor {
    touch-action: none;
    .mask {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background-color: #010101;
    }
    .wrap {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        outline: 0;
        z-index: 1001;
        &.is-capturing .container-cut {
            display: none;
        }
        .container-cut {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border: 1px solid #39f;
            pointer-events: none;
            .dashed {
                border: 0 dashed #eee;
                display: block;
                opacity: 0.5;
                position: absolute;
                &.dashed-h {
                    border-bottom-width: 1px;
                    border-top-width: 1px;
                    height: calc(100% / 3);
                    left: 0;
                    top: calc(100% / 3);
                    width: 100%;
                }
                &.dashed-v {
                    border-left-width: 1px;
                    border-right-width: 1px;
                    height: 100%;
                    left: calc(100% / 3);
                    top: 0;
                    width: calc(100% / 3);
                }
            }
        }

        .content {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 50px;
            overflow: hidden;
            .image-handler {
                position: absolute;
                font-size: 0;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0px;
                .image-handler-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                }
                img {
                    width: auto;
                    max-width: 100%;
                    // display: inline-block;
                    vertical-align: middle;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
            padding: 10px 20px;
            /*border-top: 2px solid #0b0b0b;*/
            border-top: 2px solid #333333;
            text-align: center;
            font-size: 0;
            .icon {
                color: #fff;
                font-size: 0;
                &.icon-close {
                    float: left;
                }
                &.icon-confirm {
                    float: right;
                }
                &.icon-rotate {
                    position: absolute;
                    left: 20px;
                    top: -50px;
                }
            }
            .text-reset {
                color: #3c3c3c;
                line-height: 30px;
                font-size: 16px;
                display: inline-block;
            }
        }
    }
}
