.vc-switch {
    bottom: 60px !important;
    right: 0
}

.app-container {
    height: 2000px;
}

.app-container .preview-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-top: 20px;
}
